//
// Some Useful color Vars via http://clrs.cc/
//


// Cool
$aqua: #7fdbff;
$blue: #0074d9;
$navy: #001f3f;
$teal: #39cccc;
$green: #2ecc40;
$olive: #3d9970;
$lime: #01ff70;


// Warm
$yellow: #ffdc00;
$orange: #ff851b;
$red: #ff4136;
$fuchsia: #f012be;
$purple: #b10dc9;
$maroon: #85144b;


// Gray Scale
$white: white;
$silver: #dddddd;
$gray: #aaaaaa;
$black: #111111;

//
// Add whatever variables you would like made available to the whole app
//


//
// Some Material UI Colors
//


$red-m: #f34235;
$pink-m: #e81d62;
$purple-m: #9b26af;
$deep-blue-m: #6639b6;
$blue-m: #2095f2;
$light-blue-m: #02a8f3;
$cyan-m: #00bbd3;
$teal-m: #009587;
$green-m: #4bae4f;
$light-green-m: #8ac249;
$lime-m: #ccdb38;
$yellow-m: #feea3a;
$amber-m: #fec006;
$orange-m: #fe9700;
$deep-orange-m: #fe5621;
$brown-m: #785447;
$grey-m: #9d9d9d;
$blue-grey-m: #5f7c8a;
